
#header_nav {
    background-color: rgb(28, 29, 31);
}
#brand {
    color : white;
    font-size: 32px;
}
#drop1{
    color: white;
}
#drop2{
    color: white;
}
#drop3{
    color: white;
}
h1{
    color: white;
    text-transform : uppercase;
}
body {
    background-color: #1A5276;
}
h3 {
    padding-top: 5px;
}
#main_content{
 background-color: #1A5276;
 overflow: auto;
}
#chicken{
    background-color: #FAE5D9;
    border: 5px solid #1A5276;
}
#beef{
    background-color: #FAE5D9;
    border: 5px solid #1A5276;
}
#sushi{
    background-color: #FAE5D9;
    border: 5px solid #1A5276;
}
#totop
{
     color : white;
}
#drop{
    color : white;
}
a:hover, a:active {
    text-decoration: none;
}
@media (min-width: 1200px){
}

@media (min-width: 992px) and (max-width: 1199px){
}

@media (min-width: 768px) and (max-width: 991px){

}